# Game of Thrones: Pandas Are Coming

## 1. Import Libraries and Dependencies

In [18]:
# Import necessary libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

## 2. Set File Path to CSV using Pathlib

In [19]:
# Save file path to variable
pathfile= Path("../Resources/game_of_thrones.csv")

## 3. Import CSV into Pandas DataFrame

In [20]:
# Read csv with Pandas
got_df=pd.read_csv(pathfile)
got_df.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

## 4. Count Unique Allegiances

In [21]:
# Collect a list of all the unique values in "Allegiances"
got_df["Allegiances"].unique()

array(['Lannister', 'None', 'House Targaryen', 'House Greyjoy',
       'Baratheon', "Night's Watch", 'Arryn', 'House Stark',
       'House Tyrell', 'Tyrell', 'Stark', 'Greyjoy', 'House Lannister',
       'Martell', 'House Martell', 'Wildling', 'Targaryen', 'House Arryn',
       'House Tully', 'Tully', 'House Baratheon'], dtype=object)

## 5. Filter to Only Allegiances and Names

In [22]:
# Create a new table with only the Allegiances and Names
new_table = got_df[["Allegiances", "Name"]]
new_table.head()

       Allegiances                     Name
0        Lannister           Addam Marbrand
1             None  Aegon Frey (Jinglebell)
2  House Targaryen          Aegon Targaryen
3    House Greyjoy            Adrack Humble
4        Lannister           Aemon Costayne

## 6. Groupby Allegiances and Count the number of Members

In [28]:
# Create a GroupBy object based on the "Allegiances" column in the newley created table
grouped = new_table.groupby(["Allegiances"])
grouped_count=grouped.count()
grouped_count.head()

                 Name
Allegiances
Arryn              23
Baratheon          56
Greyjoy            51
House Arryn         7
House Baratheon     8

## 7. Rename Column from `Name` to `Members`

In [29]:
# Use the `rename` function to change the `Name` column to `Members`
grouped_count.columns=["Members"]
grouped_count.head()

                 Members
Allegiances
Arryn                 23
Baratheon             56
Greyjoy               51
House Arryn            7
House Baratheon        8

## 8. Sort House Member Count in Descending Order

In [42]:
# Sort by most deaths and reset index
grouped_count.sort_values(["Members"], ascending=False, inplace=True)
grouped_count.head

<bound method NDFrame.head of                  Members
Allegiances
None                 253
Night's Watch        116
Lannister             81
Stark                 73
Baratheon             56
Greyjoy               51
Wildling              40
House Stark           35
Martell               25
House Greyjoy         24
Arryn                 23
Tully                 22
House Lannister       21
House Targaryen       19
Targaryen             17
Tyrell                15
House Martell         12
House Tyrell          11
House Tully            8
House Baratheon        8
House Arryn            7>

## 9. Select the 2nd Largest Allegiance via iloc

In [44]:
# Save the death count for the Night's Watch, using `iloc` to filter
nght_death_counts = grouped_count.iloc[1]
nght_death_counts.head()

Members    116
Name: Night's Watch, dtype: int64