# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [353]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
import datetime
from numpy import percentile
import hvplot
import hvplot.pandas
%matplotlib inline

In [354]:
def pg_admin_connection_str(   
    uname    = 'Davit',
    pass_env = 'POSTGRES_PASSWORD',
    host     = 'pg-2e8191e-instructors-1f45.aivencloud.com',
    database = 'davit',
    port     = 18645,
):
    from dotenv import load_dotenv
    import os

    load_dotenv()
    password = os.getenv(pass_env)
    return f"postgresql://{uname}:{password}@{host}:{port}/{database}?sslmode=require"

pg_admin_connection_str()

'postgresql://Davit:AVNS_mPOi0XPwZSyeLn-@pg-2e8191e-instructors-1f45.aivencloud.com:18645/davit?sslmode=require'

In [355]:
# Create a connection to the database
engine = create_engine(pg_admin_connection_str())

In [373]:

query1 = '''SELECT h.card_holder_id, h.full_name, c.card_number, t.transaction_date, t.amount, mc.merchant_name
FROM card_holder h
INNER JOIN credit_card c
	ON h.card_holder_id = c.card_holder_id
INNER JOIN "transaction" t
	ON t.card_number = c.card_number
INNER JOIN merchant m
	ON m.merchant_id = t.merchant_id --it will play the role of a bridge to get to merchant category and get merchant_name
INNER JOIN merchant_category mc
	ON mc.merchant_category_id = m.merchant_category_id
'''

transactions_df= pd.read_sql_query(
        query1, 
        engine,
        index_col='transaction_date', 
        parse_dates='transaction_date'
)

transactions_df.describe()

       card_holder_id       amount
count     3500.000000  3500.000000
mean        13.371714    40.789129
std          6.882208   202.042922
min          1.000000     0.510000
25%          8.000000     3.735000
50%         13.000000    10.270000
75%         19.000000    14.647500
max         25.000000  2249.000000

In [370]:
# Write function that locates outliers using standard deviation

standard_deviation = transactions_df["amount"].std()
mean = transactions_df["amount"].mean()

upper_limit, lower_limit = 2 * standard_deviation + mean, mean - 2 * standard_deviation

fraudulent_transactions = [x for x in transactions_df["amount"] if x >= upper_limit and x >= lower_limit]
print("Identified Outliers: %d" % len(fraudulent_transactions))

Not_fraudulent_transactions = [x for x in transactions_df['amount'] if  x <= upper_limit and x >= lower_limit]
print("Non-Outliers: %d" % len(Not_fraudulent_transactions))

Identified Outliers: 84
Non-Outliers: 3416

In [371]:
transactions_df['outlier'] = (transactions_df['amount'] >= upper_limit) | (transactions_df['amount'] <= lower_limit)

outlier = transactions_df[transactions_df['outlier'] == True]
outlier

,card_holder_id,full_name,card_number,transaction_date,amount,merchant_name,outlier
15,12,Megan Price,501879657465,2018-01-02 23:27:46,1031.0,restaurant,True
27,7,Sean Taylor,3516952396080247,2018-01-04 03:05:18,1685.0,food truck,True
62,6,Beth Hernandez,3581345943543942,2018-01-08 02:34:32,1029.0,bar,True
212,16,Crystal Clark,5570600642865857,2018-01-22 08:07:03,1131.0,restaurant,True
219,12,Megan Price,501879657465,2018-01-23 06:29:37,1678.0,pub,True
...,...,...,...,...,...,...,...
3389,9,Laurie Gibbs,30181963913340,2018-12-19 16:10:03,1724.0,pub,True
3405,24,Stephanie Dalton,30142966699187,2018-12-21 09:56:32,1301.0,pub,True
3429,16,Crystal Clark,5570600642865857,2018-12-24 15:55:06,1634.0,pub,True
3433,24,Stephanie Dalton,30142966699187,2018-12-25 19:10:42,1035.0,pub,True
3492,1,Robert Johnson,4761049645711555811,2018-12-30 23:23:09,1033.0,pub,True

In [372]:
# Find anomalous transactions for 3 random card holders

three_random_transactions = outlier.between_time('7:00','9:00').sample(n = 3)
three_random_transactions["amount"].hvplot.scatter(color="amount")

TypeError: Index must be DatetimeIndex

## Identifying Outliers Using Interquartile Range

The IQR can be used to identify outliers by defining limits on the sample values that are a factor k of the IQR below the 25th percentile or above the 75th percentile. The common value for the factor k is the value 1.5. A factor k of 3 or more can be used to identify values that are extreme outliers or “far outs” when described in the context of box and whisker plots.

In [343]:
# Write a function that locates outliers using interquartile range
perc75 = percentile(transactions_df["amount"],75)
perc25 = percentile(transactions_df["amount"],25)

interquartile_range = perc75 - perc25
limit = interquartile_range * 1.5
lower_limit, upper_limit = perc25 - limit, perc75 + limit

fraudulent_transactions = [x for x in transactions_df["amount"] if x >= upper_limit and x >= lower_limit]
print("Identified Outliers: %d" % len(fraudulent_transactions))

Not_fraudulent_transactions = [x for x in transactions_df['amount'] if  x <= upper_limit and x >= lower_limit]
print("Non-Outliers: %d" % len(Not_fraudulent_transactions))

transactions_df['outlier'] = (transactions_df['amount'] >= upper_limit) | (transactions_df['amount'] <= lower_limit)
outlier_iqr = transactions_df[transactions_df['outlier'] == True]
outlier_iqr

Identified Outliers: 110
Non-Outliers: 3390

,card_holder_id,full_name,card_number,amount,merchant_name,outlier
transaction_date,,,,,,
2018-01-02 23:27:46,12,Megan Price,501879657465,1031.0,restaurant,True
2018-01-04 03:05:18,7,Sean Taylor,3516952396080247,1685.0,food truck,True
2018-01-07 01:10:54,18,Malik Carlson,344119623920892,175.0,pub,True
2018-01-08 02:34:32,6,Beth Hernandez,3581345943543942,1029.0,bar,True
2018-01-08 11:15:36,18,Malik Carlson,344119623920892,333.0,restaurant,True
...,...,...,...,...,...,...
2018-12-21 09:56:32,24,Stephanie Dalton,30142966699187,1301.0,pub,True
2018-12-24 15:55:06,16,Crystal Clark,5570600642865857,1634.0,pub,True
2018-12-25 19:10:42,24,Stephanie Dalton,30142966699187,1035.0,pub,True
2018-12-28 16:20:31,3,Elizabeth Sawyer,30078299053512,313.0,pub,True
2018-12-30 23:23:09,1,Robert Johnson,4761049645711555811,1033.0,pub,True

In [351]:
# Find anomalous transactions for 3 random card holders
three_random_transactions = outlier_iqr.between_time('7:00','9:00').sample(n = 3)
three_random_transactions["amount"].hvplot.scatter(color="amount")

:Scatter   [transaction_date]   (amount)