In [51]:
import pandas as pd
from pathlib import Path

In [52]:
csv_path = Path("../Resources/order_data.csv")
dataclean= pd.read_csv(csv_path, index_col="order_no")
dataclean.head(12)

           customer_no order_total  order_date
order_no
452517125     CM458565     $141.25  01-10-2019
45251825      CJ458565       14.00  04/25/2019
4465241327     AK45765    $1103.36  04-25-2019
4465241327     AK45765    $1103.36  04-25-2019
413853121     CM458565         NaN   4/24/2019
45235825        TV4663       65.42  04-29-2019
2356363           2124   258936.12  04-29-2019
452519232          NaN     $141.25  01-10-2019

In [53]:
dataclean.dtypes

customer_no    object
order_total    object
order_date     object
dtype: object

In [54]:
dataclean.count()

customer_no    7
order_total    7
order_date     8
dtype: int64

In [55]:
dataclean["customer_no"].value_counts()

CM458565    2
AK45765     2
CJ458565    1
TV4663      1
2124        1
Name: customer_no, dtype: int64

In [56]:
dataclean.isnull().mean() *100

customer_no    12.5
order_total    12.5
order_date      0.0
dtype: float64

In [57]:
dataclean.isnull().sum()

customer_no    1
order_total    1
order_date     0
dtype: int64

In [58]:
dataclean["customer_no"] = dataclean["customer_no"].fillna("Unknown")
dataclean["order_total"] = dataclean["order_total"].fillna("Unknown")
dataclean.head

<bound method NDFrame.head of            customer_no order_total  order_date
order_no
452517125     CM458565     $141.25  01-10-2019
45251825      CJ458565       14.00  04/25/2019
4465241327     AK45765    $1103.36  04-25-2019
4465241327     AK45765    $1103.36  04-25-2019
413853121     CM458565     Unknown   4/24/2019
45235825        TV4663       65.42  04-29-2019
2356363           2124   258936.12  04-29-2019
452519232      Unknown     $141.25  01-10-2019>

In [59]:
csv_data = dataclean.dropna().copy()
csv_data

           customer_no order_total  order_date
order_no
452517125     CM458565     $141.25  01-10-2019
45251825      CJ458565       14.00  04/25/2019
4465241327     AK45765    $1103.36  04-25-2019
4465241327     AK45765    $1103.36  04-25-2019
413853121     CM458565     Unknown   4/24/2019
45235825        TV4663       65.42  04-29-2019
2356363           2124   258936.12  04-29-2019
452519232      Unknown     $141.25  01-10-2019

In [60]:
dataclean.isnull().sum()

customer_no    0
order_total    0
order_date     0
dtype: int64

In [66]:
dataclean.duplicated()

order_no
452517125     False
45251825      False
4465241327    False
413853121     False
45235825      False
2356363       False
452519232     False
dtype: bool

In [67]:
dataclean["customer_no"].duplicated()

order_no
452517125     False
45251825      False
4465241327    False
413853121      True
45235825      False
2356363       False
452519232     False
Name: customer_no, dtype: bool

In [69]:
dataclean = dataclean.drop_duplicates().copy()

csv_data["customer_no"].duplicated()

order_no
452517125     False
45251825      False
4465241327    False
4465241327     True
413853121      True
45235825      False
2356363       False
452519232     False
Name: customer_no, dtype: bool

In [77]:
dataclean.head(10)

           customer_no order_total  order_date
order_no
452517125     CM458565      141.25  01-10-2019
45251825      CJ458565       14.00  04/25/2019
4465241327     AK45765     1103.36  04-25-2019
413853121     CM458565     Unknown   4/24/2019
45235825        TV4663       65.42  04-29-2019
2356363           2124   258936.12  04-29-2019
452519232      Unknown      141.25  01-10-2019

In [78]:
# Clean identified numeric fields with $ symbol
dataclean["order_total"] = dataclean["order_total"].str.replace("$", "")
dataclean["order_total"].head(10)

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

order_no
452517125        141.25
45251825          14.00
4465241327      1103.36
413853121       Unknown
45235825          65.42
2356363       258936.12
452519232        141.25
Name: order_total, dtype: object

In [79]:
dataclean.dtypes

customer_no    object
order_total    object
order_date     object
dtype: object

In [ ]:
dataclean["order_total"] = dataclean["order_total"].astype("float")

In [87]:
dataclean.dtypes

customer_no    object
order_total    object
order_date     object
dtype: object