### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read CSV as Pandas DataFrame

In [4]:
# Read in csv
csv_path = Path("/Users/ddevii/Rutgers/Rutgers_Personal_Repo/01-Lesson-Plans/03-Python-Pandas/Activities copy/03-Stu_Sorting/Resources/tsla_google_finance.csv")
tesla_df = pd.read_csv(csv_path)
tesla_df.head()

       Date   Close
0  11/13/18  338.73
1  11/14/18  344.00
2  11/15/18  348.44
3  11/16/18  354.31
4  11/19/18  353.47

### Index Data by `Date`

In [6]:
# Set `Date` as index
tesla_df.set_index("Date")
tesla_df.head(5)

       Date   Close
0  11/13/18  338.73
1  11/14/18  344.00
2  11/15/18  348.44
3  11/16/18  354.31
4  11/19/18  353.47

### Assess and Clean Data

In [10]:
# Check for nulls
tesla_df.isnull().sum()

# Drop missing values
tesla_df = tesla_df.dropna()

# Validate no more missing values
tesla_df.head(5)

       Date   Close
0  11/13/18  338.73
1  11/14/18  344.00
2  11/15/18  348.44
3  11/16/18  354.31
4  11/19/18  353.47

### Calculate Daily Returns

In [12]:
# Calculate daily returns
tesla_return = tesla_df.pct_change
tesla_return

<bound method NDFrame.pct_change of          Date   Close
0    11/13/18  338.73
1    11/14/18  344.00
2    11/15/18  348.44
3    11/16/18  354.31
4    11/19/18  353.47
..        ...     ...
119    5/8/19  244.84
120    5/9/19  241.98
121   5/10/19  239.52
122   5/13/19  227.01
123   5/14/19  232.31

[124 rows x 2 columns]>

### Sort the DataFrame by `Close` to Get Records with Top Daily Returns

In [14]:
# Sort data by `Close` in descending order
tesla_df.sort_values("Close", ascending=False)

         Date   Close
20   12/13/18  376.79
18   12/11/18  366.76
19   12/12/18  366.60
21   12/14/18  365.71
17   12/10/18  365.15
..        ...     ...
113   4/30/19  238.69
111   4/26/19  235.14
114    5/1/19  234.01
123   5/14/19  232.31
122   5/13/19  227.01

[124 rows x 2 columns]

### Slice Out 5 Records

In [16]:
# Slice out top 5
top_five = tesla_df.loc[0:4]
top_five

       Date   Close
0  11/13/18  338.73
1  11/14/18  344.00
2  11/15/18  348.44
3  11/16/18  354.31
4  11/19/18  353.47

### Plot Top 5 Performing Days for TSLA Daily Returns

In [17]:
# Plot top 5 performing days
top_five

In [ ]:
# Alternatively, visualizing the returns as a bar chart: