# Calculating Stock Returns using Pandas DataFrames

## 1. Import Libaries and Dependencies

In [19]:
# Import necessary libraries and dependencies
import pandas as pd
from pathlib import Path

## 2. Create a Path to the File Using Pathlib

In [20]:
# Use the Pathlib library to set the path to the CSV
path_file = Path("/Users/ddevii/Rutgers/Rutgers_Personal_Repo/01-Lesson-Plans/04-Pandas/2/Activities/08-returns-01/Resources/MSFT.csv")

## 3. Read CSV in as DataFrame

In [21]:
# Read in the CSV as a DataFrame
msft_df = pd.read_csv(path_file)
msft_df.head()

     date  close    volume   open   high    low
0  8/3/09  23.83  46843710  23.82  23.86  23.50
1  8/4/09  23.77  49116380  23.68  23.79  23.53
2  8/5/09  23.81  53263040  23.84  24.25  23.79
3  8/6/09  23.46  59655950  23.93  23.98  23.27
4  8/7/09  23.56  46165010  23.75  23.82  23.50

## 4. Drop Extra Columns

In [22]:
# Drop unnecessary columns
msft_df = msft_df.drop(columns=["volume", "open", "high","low"])
msft_df.head()

     date  close
0  8/3/09  23.83
1  8/4/09  23.77
2  8/5/09  23.81
3  8/6/09  23.46
4  8/7/09  23.56

## 5. Set Date as Index

In [37]:
# Set the date as the index to the DataFrame
msft_df.index=msft_df["date"]
msft_df

            date   close
date
8/3/09    8/3/09   23.83
8/4/09    8/4/09   23.77
8/5/09    8/5/09   23.81
8/6/09    8/6/09   23.46
8/7/09    8/7/09   23.56
...          ...     ...
7/26/19  7/26/19  141.34
7/29/19  7/29/19  141.03
7/30/19  7/30/19  140.35
7/31/19  7/31/19  136.27
8/1/19    8/1/19  138.06

[2517 rows x 2 columns]

In [ ]:
# the best way to se the index
# msft_df.set_index("date", inplace=True)

## 6. Drop Extra Date Column

In [40]:
# Drop the extra date column
msft_df.drop(columns=["date"], inplace=True)
msft_df

          close
date
8/3/09    23.83
8/4/09    23.77
8/5/09    23.81
8/6/09    23.46
8/7/09    23.56
...         ...
7/26/19  141.34
7/29/19  141.03
7/30/19  140.35
7/31/19  136.27
8/1/19   138.06

[2517 rows x 1 columns]

## 7. Plot Daily Close

In [42]:
# Plot the daily closing stock price of the Microsoft over the last 5 years
msft_df.loc[msft_df.index.year>2014]

AttributeError: 'Index' object has no attribute 'year'

## 8. Calculate Daily Returns

In [26]:
# Calculate the daily return using the 'pct_change()' function

## 9. Plot Daily Returns

In [27]:
# Plot the daily returns of MSFT over the last 10 years

## 10. Calculate Cumulative Returns

In [28]:
# Calculate the cumulative returns using the 'cumprod()' function

## 11. Plot Cumulative Returns

In [29]:
# Plot the daily returns of the S&P 500 over the last 5 years