# Combination Sampling

Implement the SMOTEENN technique with the credit card default data. Then estimate a logistic regression model and report the classification evaluation metrics.

ln_balance_limit is the log of the maximum balance they can have on the card; 1 is female, 0 male for sex; the education is denoted: 1 = graduate school; 2 = university; 3 = high school; 4 = others; 1 is married and 0 single for marriage; default_next_month is whether the person defaults in the following month (1 yes, 0 no).

In [35]:
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
data = Path('../Resources/cc_default.csv')
df = pd.read_csv(data)

In [37]:
df

,ID,ln_balance_limit,sex,education,marriage,age,default_next_month
0,1,9.903488,1,2,0,24,1
1,2,11.695247,1,2,1,26,1
2,3,11.407565,1,2,1,34,0
3,4,10.819778,1,2,0,37,0
4,5,10.819778,0,2,0,57,0
...,...,...,...,...,...,...,...
29995,29996,12.301383,0,3,0,39,0
29996,29997,11.918391,0,3,1,43,0
29997,29998,10.308953,0,2,1,37,1
29998,29999,11.289782,0,3,0,41,1
29999,30000,10.819778,0,2,0,46,1

In [38]:
# Normal train-test split
X = df.drop(columns=["ID", "default_next_month"])
y= df["default_next_month"]

In [39]:
Counter(y_train)

Counter({0: 17496, 1: 5004})

In [40]:
# Normal train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [41]:
from  imblearn.combine import SMOTEENN

smote_en = SMOTEENN(random_state= 0)
X_resampled, y_resampled = smote_en.fit_resample(X,y)
Counter(y_resampled)

Counter({0: 10766, 1: 5675})

In [42]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [43]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[4905,  927],
       [1179,  489]])