# The Voice of the Crisis

Despite it happening over a decade ago, the financial crisis of 2008 is still on the news due to its effects in global economy. On this activity you will retrieve news articles about this historical economic fact in English and French to capture the voice of the crisis in two different languages.

In [19]:
# Initial imports
import os
import pandas as pd
from pathlib import Path
from newsapi import NewsApiClient
from dotenv import load_dotenv
load_dotenv()

True

In [20]:
# Retrieve the News API key
api_key = os.getenv("news_api")

In [21]:
# Create the newsapi client
newsapi = NewsApiClient(api_key=api_key)

## Getting News Articles in English

In this section you have to fetch all the news articles using the News API with the keywords `financial`, `crisis`, and `2008` in English.

In [22]:
# Fetch news about the financial crisis on 2008 in English
crisis_news_en = newsapi.get_everything(
    q="financial AND crisis AND 2008" , 
    language="en"
)


# Show the total number of news
crisis_news_en["totalResults"]

1719

## Getting News Articles in French

Fetching news on French will require keywords on this language, so retrieve all the news articles using the News API using the keywords `crise`, `financière`, and `2008`.

In [23]:
# Fetch news about the financial crisis on 2008 in French
crisis_news_en = newsapi.get_everything(
    q="financière AND crise AND 2008" , 
    language="fr"
)


# Show the total number of news
crisis_news_en["totalResults"]

105

## Create a DataFrame with All the Results

The first task on this section is to create a function called `create_df(news, language)` that will transform the `articles` list in a DataFrame. This function will receive two parameters: `news` is the articles list and `language` is a string to specify the language of the news articles.

The resulting DataFrame should have the following columns:

* Title: The article's title
* Description: The article's description
* Text: The article's content
* Date: The date when the article was published on the format `YYY-MM-DD` (eg. 2019-07-11)
* Language: A string specifying the news language (`en` for English, `fr` for French)

In [35]:
def create_df(news, language):
    articles = []
    for article in news:
        try:
            title = article["title"]
            description = article["description"]
            text = article["content"]
            date = article[ "publishedAt"][:10]

            articles.append({
                "title": title,
                "description": description,
                "text":text,
                "date": date,
                "language": language
            })
        except AttributeError:
            pass
    return pd.DataFrame(articles)

Use the create_df() function to create a DataFrame for the English news and another for the French news.

In [36]:
# Create a DataFrame with the news in English
crisis_news_en_df = create_df(crisis_news_en["articles"], "en")

# Create a DataFrame with the news in French
crisis_news_fr_df = create_df(crisis_news_en["articles"], "fr")

Concatenate both DataFrames having the English news at the top and the French news at the bottom.

In [37]:

crisis_df = pd.concat([crisis_news_en_df, crisis_news_fr_df])

In [38]:
# Show the head articles (they are in English)
crisis_df.head()

,title,description,text,date,language
0,Quelles sont les causes de l'inflation actuelle?,Revenue par surprise après une dizaine d'année...,Temps de lecture: 8 min\r\nDepuis une dizaine ...,2022-05-09,en
1,Covid-19 : la petite histoire de la grande pan...,La pandémie est-elle déjà tombée dans les oubl...,Professeur à l'université de Columbia à New Yo...,2022-05-21,en
2,Des milliers de manifestants à Athènes contre ...,"ATHENES (Reuters) - Quelque 10.000 personnes, ...","ATHENES (Reuters) - Quelque 10.000 personnes, ...",2022-05-02,en
3,"Contre l’inflation, astuces, trucs et troc en ...","Contraints de s’adapter à la flambée des prix,...","Ressourceries, comparateurs de prix, emprunt d...",2022-05-13,en
4,La Berd aggrave sa prévision de contraction po...,Londres - La Banque européenne pour la reconst...,Elle table désormais sur une contraction bruta...,2022-05-10,en

In [39]:
# Show the tail articles (they are in French)
crisis_df.tail()

,title,description,text,date,language
15,La BNB prévoit un ralentissement de la croissa...,C'est actuellement l'hypothèse de la Banque na...,La hausse des taux d'intérêt hypothécaires ent...,2022-05-13,fr
16,L’Allemagne est en partie responsable de la dé...,"Sans coordination, une relance de la demande e...",Entre le « quoi quil en coûte » et les mesures...,2022-05-13,fr
17,Dr. Strangelove aux commandes,"« It's the economy stupid », un truisme à mill...","« It’s the economy stupid », un truisme à mill...",2022-04-30,fr
18,L’avenir de la maternité de Nevers mise à mal ...,"Faute de sages-femmes, la dernière maternité d...","Le département de la Nièvre, en Bourgogne-Fran...",2022-05-03,fr
19,Le nouveau visage de la mondialisation,Avec la pandémie de Covid-19 et l'invasion de ...,"Temps de lecture: 7 min\r\nEn publiant, en 199...",2022-05-17,fr

Save tha final DataFrame as a CSV file for further analysis in the forthcoming activities.

In [41]:
file_saved_path = Path("/Users/ddevii/Rutgers/Rutgers_Personal_Repo/01-Lesson-Plans/12-NLP/2/Activities/04-Stu_Crisis_Voice/Resources/news_eng-fr_by_me.csv")

crisis_df.to_csv(file_saved_path, index=False, encoding="utf-8-sig")