In [1]:
import pandas as pd
from pathlib import Path

# Reading a CSV file as a Pandas DataFrame

### Step 1: Create a path to the file

In [20]:
csvpath = Path("../Resources/sales_no_header.csv")

### Step 2: Read the CSV into a DataFrame using Pandas

In [21]:
sales_data_frame = pd.read_csv(csvpath)
sales_data_frame.head
#shows a preview of first 5 elements in the data
#very important to inspect data before working with them

<bound method NDFrame.head of         Elwanda White         alyre2036@live.com        352 Lakeshore Mall  \
0      Lyndon Elliott     arrowy1873@outlook.com          1234 Avery Plaza
1      Daisey Sellers     toucan2024@outlook.com         469 Elwood Street
2        Issac Reeves       asarin1958@gmail.com          565 Phelps Field
3     Bradford Kinney     mibound1801@yandex.com  853 Mission Rock Freeway
4        Fermina Cobb    kingfisher2013@live.com          929 Prague Trail
..                ...                        ...                       ...
94         Basil Rios       holloo1814@yahoo.com         605 Sloat Terrace
95      Hipolito Rios  calefacient2049@gmail.com   1248 Fountain Boulevard
96  Clayton Robertson         coner2015@live.com         230 Paper Parkway
97      Tony Chandler     sexillion2061@live.com      118 Flood Plantation
98        Cuc Mcgowan   dispatched1820@gmail.com        87 Louisiana Grove

     9236  5327 0855 9720 7055   84.33
0    1330    3717 498777 19636  879.95
1    7631    3758 579477 35734  907.58
2   81168  4400 0380 4162 1622  545.88
3   41721    3712 263405 60178  517.49
4   16625  2351 7156 8193 8639  889.95
..    ...                  ...     ...
94   8108  5581 7245 8451 9384  937.14
95  37077  2333 0264 5343 2022  645.82
96  57242  2414 3939 6501 2607  128.73
97  70135  5581 8059 1883 1841  820.00
98  70959  2678 4140 5531 3894  764.69

[99 rows x 6 columns]>

- - -

# Reading a CSV with no Header

In [22]:
# Without a header in the CSV, Pandas will use the first row as the header
sales_data_frame = pd.read_csv(csvpath, header=None)
sales_data_frame.head

<bound method NDFrame.head of                     0                          1                         2  \
0       Elwanda White         alyre2036@live.com        352 Lakeshore Mall
1      Lyndon Elliott     arrowy1873@outlook.com          1234 Avery Plaza
2      Daisey Sellers     toucan2024@outlook.com         469 Elwood Street
3        Issac Reeves       asarin1958@gmail.com          565 Phelps Field
4     Bradford Kinney     mibound1801@yandex.com  853 Mission Rock Freeway
..                ...                        ...                       ...
95         Basil Rios       holloo1814@yahoo.com         605 Sloat Terrace
96      Hipolito Rios  calefacient2049@gmail.com   1248 Fountain Boulevard
97  Clayton Robertson         coner2015@live.com         230 Paper Parkway
98      Tony Chandler     sexillion2061@live.com      118 Flood Plantation
99        Cuc Mcgowan   dispatched1820@gmail.com        87 Louisiana Grove

        3                    4       5
0    9236  5327 0855 9720 7055   84.33
1    1330    3717 498777 19636  879.95
2    7631    3758 579477 35734  907.58
3   81168  4400 0380 4162 1622  545.88
4   41721    3712 263405 60178  517.49
..    ...                  ...     ...
95   8108  5581 7245 8451 9384  937.14
96  37077  2333 0264 5343 2022  645.82
97  57242  2414 3939 6501 2607  128.73
98  70135  5581 8059 1883 1841  820.00
99  70959  2678 4140 5531 3894  764.69

[100 rows x 6 columns]>

In [23]:
# Read the file without a header
sales_data = pd.read_csv(csvpath, header=None)
sales_data.head()

,0,1,2,3,4,5
0,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
1,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
2,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
3,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
4,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49

In [24]:
# Rewrite the column names
columns = ["Full Name", "Email", "Address", "Zip Code", "Credit Card Number", "Sale Price"]
sales_data_frame.columns = columns
sales_data_frame.head()

,Full Name,Email,Address,Zip Code,Credit Card Number,Sale Price
0,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
1,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
2,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
3,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
4,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49

In [25]:
# Generate summary statistics
sales_data_frame.describe()

           Zip Code  Sale Price
count    100.000000  100.000000
mean   40952.160000  533.007200
std    30207.118496  275.531072
min      555.000000   29.720000
25%    11109.750000  328.507500
50%    40033.500000  536.110000
75%    65834.750000  767.885000
max    99877.000000  998.760000